*~
.idea
__pycache__/
*/__pycache__/
agent/data
data
gridenvs
venv
planning/rollout_iw.py
variables_v1.py
agent/.data/save.py
animations/agent.gif
animations/neat.gif
animations/option.gif
results/*

